<!--
@리스트페이지
-->
<main class="listWrap" ng-controller="listCtrl">
    <!--Filter-->
    <div class="filter-wrap">
        <select id="filter" ng-model="selectSex">
            <option ng-value="" checked="checked">모두선택</option>
            <option ng-value="male">남자</option>
            <option ng-value="female">여자</option>
            <option ng-value="etc">기타</option>
        </select>
        <span>{{selectSex}}</span>
        <select id="orderBy" ng-model="orderBy" ng-init="orderBy=true">
            <option ng-value=true checked="checked">내림차순</option>
            <option ng-value=false>오름차순</option>
        </select>
    </div>
    <!--list-->
    <ul>
        <li data-index="{{$index}}"
            ng-repeat="list in lists | filter:(!!selectSex || undefined) && {sex:selectSex} : true | orderBy:'token': orderBy"
            class="rel clfix">
            <a href="#!/view/{{list.key}}" ng-model="list">
                <div class="img-wrap">
                    <i class="thumb"><img ng-src="{{list.img}}"></i>
                    <span class="name">{{list.name }}</span>
                </div>
                <div class="txt-wrap clfix">
                    <span class="buy">{{list.buy | number:fractionSize}}</span>
                    <span class="sell">{{list.sell | number:fractionSize}}</span>
                    <br>
                    <span class="token">{{list.token | number:fractionSize}}</span>
                    <button class="btn-blue" ng-click="clickFunc(list,$index);">상세보기</button>
                </div>
            </a>
        </li>
    </ul>
    <!--//list-->
</main>
<style>
    .listWrap .img-wrap {

    }
    .listWrap .txt-wrap {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        padding-right: 10px;
        text-align: right;
    }
    .filter-wrap {
        padding: 10px 0;
        background: #ccc;
    }
    .filter-wrap select {
        display: inline-block;
        padding: 5px 20px;
        border: 1px solid #111;
    }
</style>