<section>
    <div class="wrapper">
        <h2>로딩바</h2>
        <div class="flex-center">
            <p class="loading-donut"></p>
        </div>
    </div>
</section>
<section>
    <div class="wrapper">
        <h2>로딩바</h2>
        <div class="flex-center">
            <p class="loading-donut"></p>
        </div>
    </div>
</section>
<section>
    <div class="wrapper">
        <h2>로딩바</h2>
        <div class="flex-center">
            <p class="loading-donut"></p>
        </div>
    </div>
</section>
<section>
    <div class="wrapper">
        <h2>로딩바</h2>
        <div class="flex-center">
            <p class="loading-donut"></p>
        </div>
    </div>
</section>
<section>
    <div class="wrapper">
        <h2>로딩바</h2>
        <div class="flex-center">
            <p class="loading-donut"></p>
        </div>
    </div>
</section>
<section>
    <div class="wrapper">
        <h2>로딩바</h2>
        <div class="flex-center">
            <p class="loading-donut"></p>
        </div>
    </div>
</section>
<section>
    <div class="wrapper">
        <h2>로딩바</h2>
        <div class="flex-center">
            <p class="loading-donut"></p>
        </div>
    </div>
</section>
<section>
    <div class="wrapper">
        <h2>로딩바</h2>
        <div class="flex-center">
            <p class="loading-donut"></p>
        </div>
    </div>
</section>
<section>
    <div class="wrapper">
        <h2>로딩바</h2>
        <div class="flex-center">
            <p class="loading-donut"></p>
        </div>
    </div>
</section>
<section>
    <div class="wrapper">
        <h2>로딩바</h2>
        <div class="flex-center">
            <p class="loading-donut"></p>
        </div>
    </div>
</section>
<section>
    <div class="wrapper">
        <h2>로딩바</h2>
        <div class="flex-center">
            <p class="loading-donut"></p>
        </div>
    </div>
</section>
<section>
    <div class="wrapper">
        <h2>로딩바</h2>
        <div class="flex-center">
            <p class="loading-donut"></p>
        </div>
    </div>
</section>