@charset "utf-8";
/*=== common =================================================*/
.container {
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}
/*=== header =================================================*/
header {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #b2dba1;
    border-radius: 4px;
    color: #3c763d;
    background: linear-gradient(to bottom, #dff0d8 0, #c8e5bc 100%) #dff0d8 repeat-x;
    inset: 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
}
header nav {
    position: relative;
    padding: 30px 0;
    color: #fff;
}
header nav a {
    margin: 0 20px;
    font-size: 16px;
}
/*=== footer =================================================*/
footer {
    padding: 10px 0;
}
/*=== main =================================================*/
main.outline {
    font-size: 16px;
    height: 300px;

}
article.viewer {
    display: block;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ff0000;

}
/*=== nav =================================================*/
nav {

}
/*=== pages =================================================*/
.listWrap {
}
.listWrap li {
    margin-bottom: 10px;
}
.listWrap li:nth-child(odd) {
    background: #f0f0f0;
}
.listWrap i.thumb {
    display: block;
    width: 80px;
    overflow: hidden;
}
.listWrap i.thumb img {
    width: 100%;
    height: auto;
    vertical-align: top;
}
.listWrap .wrapper a > * {
    display: inline-block;
    vertical-align: middle;

}