@charset "utf-8";
/*=== common =================================================*/
.container {
    padding-left:50px;
    padding-right:50px;
    box-sizing:border-box;
}
/*=== header =================================================*/
header {

}
header nav {
    position:relative;
    color:#ff0000;
}
/*=== footer =================================================*/

/*=== main =================================================*/

/*=== nav =================================================*/
nav {

}