@charset "utf-8";
/*=== common =================================================*/
.container {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
/*=== header =================================================*/
header {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #b2dba1;
    border-radius: 4px;
    color: #3c763d;
    background: linear-gradient(to bottom, #dff0d8 0, #c8e5bc 100%) #dff0d8 repeat-x;
    inset: 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
}
header nav {
    position: relative;
    padding: 30px 0;
    text-align: center;
    color: #fff;
}
header nav a {
    margin: 0 10px;
    font-size: 14px;
}
/*=== footer =================================================*/
footer {
    padding: 10px 0;
}
/*=== main =================================================*/
main.outline {
    font-size: 16px;
    height: 300px;
}
article.viewer {
    display: block;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
}
/*=== nav =================================================*/
nav {

}
/*=== pages =================================================*/
.listWrap {
}
.listWrap li {
    margin-bottom: 10px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    background: rgb(250, 250, 250);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.listWrap li:nth-child(odd) {
    background: #f0f0f0;
}
.listWrap i.thumb {
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
}
.listWrap i.thumb img {
    object-fit: cover;
    width: 80px;
    height: 80px;
}
